@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@200&family=Raleway:wght@300&display=swap');
</style> 

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box; 
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin: 0;	
}

h2 {
	text-align: center;
}
.wrapper {
  width: 100%;
}

header {
	background: #efefe7;

}

h1 {
	font-size: 40px;
	font-weight: 500;
	padding: 10px 10px 0px 30px; 
	margin: 0px;
}

h3 {
	margin: 0; 
}

#headtop {
	float: left;

}

#slogan {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	padding: 0 30px 10px;
	color: #73450f;
}


header h1 h3 {
float: left;
}

.clearfix:after {
  visibility: hidden;
  height: 0;
  font-size: 0;
  content: " ";
  display: block;
  clear: both;
}

nav {
	padding: 15px;
	float: right;
}

nav a {
	color: #73450f;
	text-decoration: none;
	letter-spacing: 1px;
	padding: 5px 10px;
	font-weight: 500;
}

a {
 	text-decoration: none;
}


#herobground {
  background-image: url("../images/samantha_hero.jpg");
  height: 80vh;
  background-size:100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-top: 1px #73450f solid;
  }


.info {
  width: 90%;
  margin: 0 auto;
}

.columleft {
  text-align: justify;
  float: left;
  width: 40%;
}
.columright {
  text-align: justify;
  float: right;
  width: 40%;
  background-color: #ccc;
}


.picsgallery {
  width: 31%;
  float: left;
  padding: 5px;
/*  padding: 0 4px 8px 0;*/
}

.kids {
	clear: left;

}


footer {
  background-color: #f2f2f2;
  text-align: center;
  margin: auto;
  padding:10px;
}

footer a {
	color: #bdbdbd;
	font-weight: 400;
	width: 25px;
	text-align: center;

}


.contact {
  font-family: 'Montserrat', sans-serif;
  color: #f2f2f2;
  background-color: #bdbdbd;
  /*padding: 5px;
  border-radius: 4px;*/
  text-decoration: none;
  text-align: center;
  border-bottom: none;
    }

.copyright {
  font-family: 'Montserrat', sans-serif;
  color: #bdbdbd;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  padding: 10px;
    }

 .picfooter {
 	width: 50px;
 	padding: 0 10px;
 }   