* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
   }

body {
    font-family: "lato", Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
   }

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h1 {
	color: #C92D02;
}

a {
	color: #dd0000;
	text-decoration: none;
}

header {
	padding: 40px; 0;
}

nav {
	text-align: center;
	background-color: #333333;
}	

nav a {
	color: #ffffff;
/*	margin-left: 10px;
	margin-right: 10px*/
	display: block;
	width: 180px;
	float: left;
	padding: 10px 0;
}


nav a:hover {
	background-color: : #F0F04F;
}

main {
	width: 720px;
	float: left;
}

article {
	padding: 20px 0;
	border-bottom: 1px solid #ccc;
}

aside {
	width: 320px;
	float: right;
	padding-top: 20px;
}

footer {
	background-color: #eeeeee;
	padding: 20px;
	clear: both;
}

footer p {
	float: right;
}

ul {
	padding-left: 20px;
}

.clearfix:after {
	display: block;
	content: " ";
	clear: both;

	height: 0;
	font-size: 0;
	visibility; hidden;
}

#wrapper {
	width: 1080px;
	/*background-color: #cccccc;	*/
	margin: 0 auto;
}

