

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }


body {
  font-family: lato, sans-serif;
  font-size: 16px;	
}

header {
  width: 80%;
  margin: 0 auto;
}




.icons{ 
  height: 40px;
  float: left;
  margin: 
 }
#herobground {
  background-image: url("../images/samantha_hero.jpg");
  height: 80vh;
  background-size:100%;
  background-repeat: no-repeat;
  margin: 0 auto;
 
}

main {
  margin: 0 auto;
  width: 80%;
}

article {
  margin: 0 auto;
}


p {
  padding: 0 10px;
}

.paracolum {
  float: left;
  width: 50%;
}

.columright {
  float: left;
  width: 50%;
  background-color: #ccc;
}


h4 {
  text-align: center;
  padding: 40px 0;
  clear: left;

}

h3 {
  padding: 25px;
  text-align: center;
}

ul  {
  font-family: Raleway, "Century Gothic", sans-serif;   
    text-align: center;
  /*  margin-bottom: 50px;*/
  }

li {
     list-style:none;
     display: inline-block;
     padding: 40px;
     width: 80%;
}


footer {
  background-color: #131403;
  text-align: center;
  margin: auto;
  padding:10px;
  width: 80%;
}

.contact {
  font-family: "Century Gothic", sans-serif;
  color: #000000;
  background-color: pink;
  padding: 5px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  border-bottom: none;
    }

.copyright {
  font-family: "Century Gothic", sans-serif;
  color: #ffffff;
  font-size: 10px;
  text-decoration: none;
  text-align: center;
  padding: 10px;
    }
