@import url('https://fonts.googleapis.com/css2?family=Alata&family=Kanit:wght@500&family=Open+Sans:wght@700&family=Playfair+Display&display=swap');
 

/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* Global styles
------------------------------------*/
body {
  color: #343434;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: 'playfair Display' serif;

}

p,ul {
  font: 16px 'Playfair Display', 'courier', Georgia, serif;
  letter-spacing: 0.06em;
}

h1 {
  font-family: 'Open Sans', 'Kanit', sans-serif;
  font-size: 50px;
  color:  #FFE66D;
  margin-bottom: 5px;
}

h2 {
  font-family: 'Alata', sans-serif;
  font-size: 25px;
  margin: 0;
}

h3 {
  font-family: 'Kanit', sans-serif;
  padding-top: 1.5em;
  margin-bottom: 0.3em;
  
}

h1,h2 {
  font-weight: 300;
  margin: 0 auto;
}

h3 + p {
  font-style: italic;
}

h3  ~ p {
  margin: 0;
}

img {
  width: 300px;
}
a {
  color: #FFE66D;
  text-decoration: none;
  border-bottom: 1px solid #f7fff7;
}
a:hover{
  text-decoration: none;
}

.content-wrap {
  width: 800px;
  margin: 0 auto;
  padding: 10px 0;
}

/* Profile
------------------------------------*/
header {
  background: darksalmon;
  color: #F7FFF7;
  text-align: center;
}

header p {
  font: 16px 'Alata', sans-serif;
  font-weight: 300;
  margin: 0;
}

/* Projects
------------------------------------*/
.projects {
  background: #F7FFF7;
}
.projects a{
  color: #2F3061;
  border-bottom: none;

}
.projects .btn{
  color: #F7FFF7;
  background: #2F3061;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  font-family: 'Alata','lato', serif;
  font-weight: 100;
}
.projects .btn:hover {
  background: rgba(47, 48, 97, 80%);
}

.project-item {
  overflow: hidden;
  border-bottom: 1px dashed #343434;
  padding: 1.5em 0;
}

.project-item h3 {
  margin-top: 0;
  margin-bottom: -1em;
}

.project-item img {
  float: left;
  margin-right: 1.5em;
}


/* Work Experience
------------------------------------*/
.work-experience {
  background: #A1C6D7;
}

.job-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 1.3em;
}

.job-item h3 {
  margin-top: 5px;
  color: #343434;
}  

.job-item p {
  padding-top: 1em;
}

.job-details p {
  margin-top: 1em;
}

/* Education
------------------------------------*/



/* Contact Info
------------------------------------*/
footer {
  background: #343434;
  color: #F7FFF7;
  text-align: center;
}

.contact-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.contact-list a {
  padding: 15px;
  display: inline-block;
  font: 16px 'Alata', sans-serif;
}
