@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dawning+of+a+New+Day&family=Dosis:wght@200&family=Fredericka+the+Great&family=Great+Vibes&family=Libre+Baskerville&family=Raleway:wght@500&family=Work+Sans:ital,wght@1,100&display=swap');

* {
  margin: 0;
  padding: 0;
}

header  {
	background-color: #140F04; 
	/*background-image: */
	width: 80%;
	padding: 10px 0px;
	text-align: center;
	margin: auto;
    }

body {
	font-size: 18px;
	color: #222222;
    }

main {
	margin: auto;
	text-align: center;
	padding-bottom: 30px;
    }

h1 {
	font-family: Raleway, sans-serif;
	letter-spacing: 5px;
	color: #fff;
    }

h2 {
	font-family: 'work sans', sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	padding-top: 10px;
	text-align: center;
	color: #ffffff;
	   }

h3 {
	font-family: Raleway, sans-serif;
	text-align: center;
	margin-bottom: 30px;

}
a {
   color: #98BEBF;
   text-decoration: none;
   border-bottom: 1px solid #98BEBF;
   padding-bottom: 2px;
   }

article {
	margin: 10px inherit;
	padding-top: 30px;
   } 


img {
   width: inherit;
   text-align: center;
   width: 80%  
   }


p {
	text-align: justify;
	width: 600px;
	margin: auto;
	line-height: 1.5em;
    } 

footer {
	background-color: #131403;
	text-align: center;
	float: inherit;
	margin: auto;
	padding:10px;
	width: 80%;
}      	


/*#stubbornh1{
*/
	}
#slogan {
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	}	

	ul  {
	font-family: Raleway, "Century Gothic", sans-serif; 	
    float:center;
    text-align: center;
    margin-bottom: 50px;
	}

li {
	   list-style:none;
	   float:center;
	   display: inline-block;
	   padding: 40px;
	   width: 80%;

    /*   margin: 0px 55em;
       */
       
}	

	.itemsleft {
	    list-style:none;
        display:inline;
        margin: 40px 20px;
        padding: 10px;
        text-align: center;
	}


.contact {
	font-family: "Century Gothic", sans-serif;
	color: #000000;
	background-color: pink;
	padding: 5px;
	border-radius: 4px;
	text-decoration: none;
	text-align: center;
	border-bottom: none;
		}

.copyright {
	font-family: "Century Gothic", sans-serif;
	color: #ffffff;
	font-size: 10px;
	text-decoration: none;
	text-align: center;
	padding: 10px;
    }


