* {

   padding: 0;
   margin: 0;
   ;	
	}


body {
	margin: 0, auto;
	color: #1A1A29;

	}

 header {
	background-color:#030D14;
	padding: 1px;
	width: 80%;
	margin: auto;


    }	

section {
	text-align: center;

}
img {
	width: 80%;
	/*text-align: center;*/
    /*padding-top: 0px;*/
    padding-bottom: 40px;
	}


h1 {
	font-family: "Arial", sans-serif;
	font-size:  50px;
	font-weight: bold;
	color: #ffffff; 
	text-align: center;
	margin-top: 10px;
	}

h3 {
	padding: 30px auto;
	margin: 20px auto;
	text-align: center;

}

a {
	color: inherit;
	text-decoration: underline;
   }

p {
	font-family: lato, sans-serif;
	text-align: justify;
	width: 80%;
	margin: auto;
    } 

footer {
	background-color: #131403;
	text-align: center;
	float: inherit;
	margin: auto;
	padding:10px;
	width: 80%;
}      	

#slogan{
	text-align: center;
	color: #ffffff;
	font-family: "lato", thin;
	font-size: 20px;
	margin-bottom: 20px;
	}	

	ul  {
	font-family: "Century Gothic", sans-serif; 	
    float:center;
    text-align: center;
	}

li {
	   list-style:none;
	   float:center;
	   display: inline-block;
	   padding: 40px;
	   width: 80%;

    /*   margin: 0px 55em;
       */
       
}	

	.itemsleft {
	    list-style:none;
        display:inline;
        margin: 40px 20px;
        padding: 10px;
        text-align: center;
	}


.contact{
	font-family: "Century Gothic", sans-serif;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
    margin-left: 60px;
		}
