* {
  margin: 0;
  padding: 0;
}

header  {
	background-color: #140F04; 
	padding: 10px;
	text-align: center;
	margin: auto;
    }

body {
	font-family: helvetica, arial, sans-serif;
	font-size: 20px;
	color: #222222;
    }

section {
	margin: auto;
	text-align: center;
	padding-bottom: 30px;
    }

h1 {
	color: #fff;
    }

h2 {
	text-align: center;
	color: #ffffff;
	   }

h3 {
	text-align: center;
	margin-bottom: 30px;

}
a {
   color: #98BEBF;
   text-decoration: none;
   }

div {
	margin: 10px 40px;
   } 


img {
   width: 75%;
   text-align: center;  
   }


p {
	font-family: lato, sans-serif;
	text-align: justify;
	width: 80%;
	margin: auto;
    } 

footer {
	background-color: #131403;
	text-align: center;
	float: inherit;
	margin: auto;
	padding:10px;
	width: 80%;
}      	


/*#stubbornh1{
*/
	}
#slogan{
	text-align: center;
	color: #ffffff;
	font-family: "lato", thin;
	font-size: 20px;
	}	

	ul  {
	font-family: "Century Gothic", sans-serif; 	
    float:center;
    text-align: center;
    margin-bottom: 50px;
	}

li {
	   list-style:none;
	   float:center;
	   display: inline-block;
	   padding: 40px;
	   width: 80%;

    /*   margin: 0px 55em;
       */
       
}	

	.itemsleft {
	    list-style:none;
        display:inline;
        margin: 40px 20px;
        padding: 10px;
        text-align: center;
	}


.contact {
	font-family: "Century Gothic", sans-serif;
	color: #000000;
	background-color: pink;
	padding: 5px;
	border-radius: 4px;
	text-decoration: none;
	text-align: center;
		}

.copyright {
	font-family: "Century Gothic", sans-serif;
	color: #ffffff;
	font-size: 10px;
	text-decoration: none;
	text-align: center;
	padding: 10px;
    }


